@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.choose {
	padding: 7% 0 0;
}

.order-page {
	width: 360px;
}

.form-1, .form-2 {
	top: 20%
}

.form-1 {
	position: absolute;
	left: 18%;
	background: #FFFFFF;
	max-width: 360px;
	padding: 45px;
	text-align: left;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.form-2 {
	position: absolute;
	left: 45%;
	background: #FFFFFF;
	max-width: 700px;
	padding: 40px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

td {
	border: 1px solid black;
	padding: 6px;
}

#red {
	background: #ff0000;
}

button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	border: 0;
	padding: 6px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

body {
	background: url('img/back1.jpg') no-repeat;
	-moz-background-size: 100%; 
	-webkit-background-size: 100%; 
	-o-background-size: 100%; 
	background-size: 100%; 
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}